# S&P500 tracker

The goal of this notebook is to:
1. Explore the `yfinance` [library](https://pypi.org/project/yfinance/)
2. Develop scripts for the Extraction and Load parts of the ELT job. Transformation will be handled separately in dbt.

In [17]:
import os
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta
from google.cloud import storage

In [3]:
pd.__version__

'2.0.3'

## Extract S&P500 data 

**General plan:**
1. Find all the S&P500 ticker symbols and other relevant data - source [Wikipedia](https://en.wikipedia.org/wiki/List_of_S%26P_500_companies).
2. Extract/download data frim y_finance for the last X days (e.g. could be a month or more) and upload to GCS bucket.
3. Also load all the ticker data from step 1. to the GCS bucket.
4. Develop script that downloads daily data and uploads to bucket.

### 1. Find all S&P500 ticker symbols

In [2]:
# Get s&p500 info from wikipedia
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

# Get all the data of S&P 500 tickers in a dataframe
sp500_tickers = pd.read_html(url)[0]

# Get the list of S&P 500 tickers
sp500_symbols = sp500_tickers.Symbol.to_list()

#### There are 503 tickers in S&P500

In [3]:
sp500_tickers

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [4]:
# List of symbols
len(sp500_symbols)

503

### 2a. Extract/download data for the X days.

*First develop a function that downloads the data for a specified date range, based on the already downloaded Wikipedia data*

In [ ]:
# Set the date range
# start_date = datetime.today().strftime('%Y-%m-%d')
# end_date = datetime.today().strftime('%Y-%m-%d')

# Download data for each ticker
sp500_data = {}
for symbol in sp500_symbols:
    try:
        data = yf.download(symbol, start='2024-04-01', end='2024-04-05')
        sp500_data[symbol] = data
        print(f"Downloaded data for {symbol}")
    except Exception as e:
        print(f"Error downloading data for {symbol}: {str(e)}")
        

# Concatenate data for all tickers into a single DataFrame
sp500_df = pd.concat(sp500_data.values(), keys=sp500_data.keys(), names=['Ticker'])

In [12]:
sp500_df.reset_index(inplace=True)

In [13]:
sp500_df.drop(columns=['index'])

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,MMM,2024-04-01,91.050003,94.339996,88.230003,94.019997,94.019997,13004800.0
1,MMM,2024-04-02,93.099998,94.419998,91.900002,92.839996,92.839996,8912000.0
2,MMM,2024-04-03,93.339996,94.699997,92.500000,93.190002,93.190002,6060200.0
3,MMM,2024-04-04,94.489998,95.669998,90.230003,90.540001,90.540001,5864200.0
4,AOS,2024-04-01,89.330002,89.769997,88.680000,89.080002,89.080002,676200.0
...,...,...,...,...,...,...,...,...
1999,ZBH,2024-04-04,130.889999,130.889999,127.430000,127.559998,127.559998,1032900.0
2000,ZTS,2024-04-01,168.990005,169.490005,166.119995,167.020004,166.545135,1896500.0
2001,ZTS,2024-04-02,165.669998,166.169998,163.639999,165.009995,164.540833,2391500.0
2002,ZTS,2024-04-03,165.000000,166.259995,162.639999,162.970001,162.506638,2481200.0
2003,ZTS,2024-04-04,165.210007,168.789993,164.449997,165.520004,165.049393,4306100.0

**Also join with the wikipedia data for illustration purposes**

In [18]:
sp500_df.merge(sp500_tickers, left_on='Ticker', right_on='Symbol', how='left')

,index,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,0,MMM,2024-04-01,91.050003,94.339996,88.230003,94.019997,94.019997,13004800.0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,1,MMM,2024-04-02,93.099998,94.419998,91.900002,92.839996,92.839996,8912000.0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
2,2,MMM,2024-04-03,93.339996,94.699997,92.500000,93.190002,93.190002,6060200.0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
3,3,MMM,2024-04-04,94.489998,95.669998,90.230003,90.540001,90.540001,5864200.0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
4,4,AOS,2024-04-01,89.330002,89.769997,88.680000,89.080002,89.080002,676200.0,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,1999,ZBH,2024-04-04,130.889999,130.889999,127.430000,127.559998,127.559998,1032900.0,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
2000,2000,ZTS,2024-04-01,168.990005,169.490005,166.119995,167.020004,166.545135,1896500.0,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952
2001,2001,ZTS,2024-04-02,165.669998,166.169998,163.639999,165.009995,164.540833,2391500.0,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952
2002,2002,ZTS,2024-04-03,165.000000,166.259995,162.639999,162.970001,162.506638,2481200.0,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952
2003,2003,ZTS,2024-04-04,165.210007,168.789993,164.449997,165.520004,165.049393,4306100.0,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

### 3. Upload to GCS function

Here we create a function that will be used to load data from local to the specified GCS bucket.

In [4]:
def upload_to_gcs(bucket, object_name, local_file):
    """
    Ref: https://cloud.google.com/storage/docs/uploading-objects#storage-upload-object-python
    """
    # # WORKAROUND to prevent timeout for files > 6 MB on 800 kbps upload speed.
    # # (Ref: https://github.com/googleapis/python-storage/issues/74)
    # storage.blob._MAX_MULTIPART_SIZE = 5 * 1024 * 1024  # 5 MB
    # storage.blob._DEFAULT_CHUNKSIZE = 5 * 1024 * 1024  # 5 MB

    client = storage.Client()
    bucket = client.bucket(bucket)
    blob = bucket.blob(object_name)
    blob.upload_from_filename(local_file)

Below we also set the GCS BUCKET that will be used for uploading

In [6]:
# Set bucket
BUCKET = os.environ.get("GCP_GCS_BUCKET", "sp500-tracker-terrabucket")

We also get today's date and will append it to the object_name to append

In [7]:
# Get current date
date = datetime.now().strftime('%Y%m%d')

To upload the wikipedia S&P500 data, we first need to save it to local as csv.

In [3]:
# Save to csv
sp500_tickers.to_csv('sp500_wiki_data.csv', index=False)

In [9]:
# Upload to GCS
upload_to_gcs(BUCKET, f'sp500_wiki_data_{date}.csv', 'sp500_wiki_data.csv')

In [30]:
pd.read_csv('sp500_finance_data_20240420.csv.gz')

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,MMM,2024-01-02,90.819397,92.525085,90.677261,91.973244,90.176018,3321053.0
1,MMM,2024-01-03,91.329430,91.521736,89.297661,90.125420,88.364296,3547575.0
2,MMM,2024-01-04,90.367889,91.421402,90.058525,90.443146,88.675812,3319976.0
3,MMM,2024-01-05,90.284279,91.546822,89.924751,90.794312,89.020119,1991579.0
4,MMM,2024-01-08,90.518394,91.103676,89.958191,91.020065,89.241463,2535042.0
...,...,...,...,...,...,...,...,...
37448,ZTS,2024-04-12,155.850006,155.979996,148.479996,149.979996,149.553574,11577200.0
37449,ZTS,2024-04-15,151.119995,155.000000,149.240005,149.770004,149.344177,8667300.0
37450,ZTS,2024-04-16,150.199997,154.399994,148.660004,153.020004,152.584930,4967400.0
37451,ZTS,2024-04-17,153.009995,153.179993,151.240005,151.940002,151.508011,3270500.0
37452,ZTS,2024-04-18,151.630005,153.669998,151.169998,153.110001,153.110001,4772800.0

## Validating results uploaded to GCS bucket

In [22]:
#2024-07-05
df_2024_07_05 = pd.read_csv('gs://sp500-tracker-terrabucket/historical/20240705/sp500_finance_data_20240705000126.csv.gz')

print(df_2024_07_05['Date'].unique())

['2024-07-03']

In [23]:
#2024-07-06
df_2024_07_06 = pd.read_csv('gs://sp500-tracker-terrabucket/historical/20240706/sp500_finance_data_20240706000044.csv.gz')

print(df_2024_07_06['Date'].unique())

['2024-07-05']

In [25]:
#2024-07-07
df_2024_07_07 = pd.read_csv('gs://sp500-tracker-terrabucket/historical/20240707/sp500_finance_data_20240707000048.csv.gz')

print(df_2024_07_07['Date'].unique())

['2024-07-05']

In [13]:
print(datetime.now().strftime('%Y-%m-%d'))

2024-07-07

print((datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d'))

In [47]:
yf.download('ACN', start=(datetime.now()).strftime('%Y-%m-%d'), end=datetime.now().strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['ACN']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-07-07 -> 2024-07-07)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [46]:
yf.download('MMM', start=(datetime.now()).strftime('%Y-%m-%d'), end=(datetime.now()).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MMM']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-07-07 -> 2024-07-07)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [33]:
yf.download('MMM', start=(datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d'), end=(datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low   Close  Adj Close   Volume
Date
2024-07-05  101.400002  101.660004  100.639999  101.32     101.32  2442725

In [34]:
yf.download('MMM', start=(datetime.now() - timedelta(days=2)).strftime('%Y-%m-%d'), end=(datetime.now() - timedelta(days=2)).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MMM']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-07-05 -> 2024-07-05)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [35]:
yf.download('MMM', start=(datetime.now() - timedelta(days=3)).strftime('%Y-%m-%d'), end=(datetime.now() - timedelta(days=3)).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MMM']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-07-04 -> 2024-07-04)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [36]:
yf.download('MMM', start=(datetime.now() - timedelta(days=4)).strftime('%Y-%m-%d'), end=(datetime.now() - timedelta(days=4)).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MMM']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-07-03 -> 2024-07-03)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [37]:
yf.download('MMM', start=(datetime.now() - timedelta(days=5)).strftime('%Y-%m-%d'), end=(datetime.now() - timedelta(days=5)).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MMM']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-07-02 -> 2024-07-02)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [38]:
yf.download('MMM', start=(datetime.now() - timedelta(days=6)).strftime('%Y-%m-%d'), end=(datetime.now() - timedelta(days=6)).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MMM']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-07-01 -> 2024-07-01)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [39]:
yf.download('MMM', start=(datetime.now() - timedelta(days=7)).strftime('%Y-%m-%d'), end=(datetime.now()).strftime('%Y-%m-%d'))

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-01,102.860001,103.449997,100.209999,100.610001,100.610001,2705600
2024-07-02,100.559998,101.930000,100.459999,101.620003,101.620003,2291300
2024-07-03,101.290001,102.150002,100.680000,101.620003,101.620003,1230800
2024-07-05,101.400002,101.660004,100.639999,101.320000,101.320000,3059000